*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

.container{
    height: 80vh;
    margin: 50px auto 0;
    /* test */

    display: flex;

    max-width: 1200px;

}


/* sezione "left-container" */
#left-container{
    background-color: rgba(255, 0, 0, 0.3);
    height: 100%;
    /* test */

    width: 400px;
}

#left-container .header-user{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;

    background-color: #EAEAEA;
}

.header-user .user{
    display: flex;
    align-items: center;
}

.header-user .user img{
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.header-user .settings{
    display: flex;
    gap: 15px;

    color: #B1B1B1;
}

#left-container #notifications{    
    padding: 15px 20px;
    
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #8EDAFC;
}

#notifications .bell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    font-size: 25px;

    border-radius: 50%;

    color: #8EDAFC;
    background-color: white;
}

#notifications .active-not{
    display: flex;
    flex-direction: column;
}

#notifications .active-not span:nth-of-type(2) {
    color: #55768E;

    text-decoration: underline;
}

#left-container #search-contact{    
    padding: 10px;

    background-color: #FAFAFA;
}

#search-contact #search-container{
    display: flex;

    background-color: white;
}

#search-container i{
    padding: 6px 25px;

    border: 1px solid #B1B1B1;

    color: #B1B1B1;
}

#search-container input{
    padding: 0 10px;

    width: 100%;

    border: 1px solid #B1B1B1;
}

#left-container .contact-list{
    background-color: white;
}

.contact-list .contact{
    display: flex;
    gap: 20px;

    position: relative;

    padding: 10px 20px;

    border-top: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
}

.contact-list .contact img{
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

.contact-list .contact .contact-info{
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 5px 0;
}

.contact-list .contact .contact-info .last-message{
    color: #B4BECA;
}

.contact-list .contact .message-time{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 10px;

    color: #B4BECA;
}
/* fine sezione "left-container" */


/* sezione "right-container" */
#right-container{
    background-color: rgba(0, 0, 255, 0.3);
    height: 100%;
    /* test */

    width: calc(100% - 400px);
}
/* fine sezione "right-container" */

