*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

#header-back{
    height: 150px;

    background-color: #009688;
}

/* container principale */
.container{
    height: 80vh;
    /* test */
    
    margin: auto ;

    display: flex;

    max-width: 1200px;

    translate: 0 -100px;
}
/* container principale */


/* elementi comuni alla pagina */

body{
    /* background-color: #D7DBD7; */

    font-family: sans-serif;
}

/* header */
.header-user{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;

    background-color: #EAEAEA;
}

.header-user .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-user .user img{
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.header-user .settings{
    display: flex;
    gap: 15px;

    color: #B1B1B1;
}

/* fine elementi comuni alla pagina */





/* sezione "left-container" */
#left-container{
    display: flex;
    flex-direction: column;

    width: 400px;

    border-right: 1px solid #B1B1B1;

    overflow: hidden;
}

#left-container .header-user .settings .fa-circle-notch{
    cursor: pointer;
}

#left-container #notifications{    
    padding: 15px 20px;
    
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #8EDAFC;
}

#notifications .bell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    font-size: 25px;

    border-radius: 50%;

    color: #8EDAFC;
    background-color: white;
}

#notifications .active-not{
    display: flex;
    flex-direction: column;
}

#notifications .active-not span:nth-of-type(2) {
    color: #55768E;

    text-decoration: underline;
}

#left-container #search-contact{    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    padding: 10px;

    /* background-color: #FAFAFA; */
}

#search-contact #search-container{
    display: flex;
    flex-grow: 1;

    /* background-color: white; */
}

#search-container i{
    padding: 6px 25px;

    border: 1px solid #B1B1B1;

    color: #B1B1B1;
}

#search-container input{
    padding: 0 10px;

    width: 100%;

    border: 1px solid #B1B1B1;
}

#search-contact .new-chat i{
    font-size: 1.5em;

    color: green;

    cursor: pointer;
}

#left-container .contact-list{
    flex-grow: 1;

    /* background-color: white; */

    overflow-y: auto;
}

.contact-list .contact{
    display: flex;
    gap: 20px;

    position: relative;

    padding: 10px 20px;

    border-top: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;

    cursor: pointer;
}

.contact-list .contact.active{
    background-color: #919292;
}

.contact-list .contact:hover{
    background-color: #868686;
}

.contact-list .contact img{
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

.contact-list .contact .contact-info{
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 5px 0;
}

.contact-list .contact .contact-info .last-message{
    color: #B4BECA;
}

.contact-list .contact .message-time{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 10px;

    color: #B4BECA;
}
/* fine sezione "left-container" */



/* sezione "right-container" */
#right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 400px);
}

#right-container .header-user .user{
    gap: 10px;
}

#right-container .header-user .fa-chevron-left{
    display: none;
}

#right-container .header-user .user .contact-info{
    display: flex;
    flex-direction: column;
}

#right-container .header-user .user .contact-info .last-entry{
    color: #979D9E;
}

#right-container .header-user .settings{
    position: relative;
}

.fa-ellipsis-vertical{
    cursor: pointer;
}

#right-container .header-user .settings .delete-chat{
    position: absolute;
    right: 0;
    top: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px 0;

    width: 200px;

    border-radius: 5px;

    background-color: white;

    color: black;
}


#right-container .header-user .settings .delete-chat .all-messages:hover{
    background-color: rgba(0, 0, 255, 0.5);

    cursor: pointer;
}

#right-container .header-user .settings .delete-chat .all-chat:hover{
    background-color: rgba(255, 0, 0, 0.5);

    cursor: pointer;
}

/* contenitore chat */
#right-container #chat-container{
    flex-grow: 1;

    background-image: url('../img/mine.jpg');

    overflow-y: auto;
}

#chat-container #messages-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 50px 0;
    margin: 0 auto;

    max-width: 700px;
}

#messages-container .message-text{
    position: relative;

    display: flex;

    padding: 15px 10px;

    width: 40%;

    border-radius: 10px;
}

#messages-container .message-text.sent{
    align-self: flex-end;

    background-color: #D5F9BA;
}

#messages-container .message-text.received{
    align-self: flex-start;

    background-color: white;
}

#messages-container .message-text .message-time{
    position: absolute;
    bottom: 5px;
    right: 5px;

    font-size: 10px;

    color: #979D9E;
}

#messages-container .message-text i{
    display: none;

    position: absolute;
    right: 10px;
    top: 10px;

    cursor: pointer;
}

#messages-container .message-text:hover i {
    display: inline-block;
}

#messages-container .message-text .message-panel{
    /* display: none */

    position: absolute;
    right: 10px;
    top: 40px;

    padding: 15px;

    background-color: white;

    cursor: pointer;

    z-index: 1;
}

/* #messages-container .message-text .message-panel.view{
    display: block;
} */


#messages-container .message-text .message-panel div:first-of-type{
    margin-bottom: 5px;
}

#messages-container .message-text .message-panel .message-info:hover{
    background-color: rgb(187, 185, 185);
}

#messages-container .message-text .message-panel .delete-message:hover{
    background-color: rgb(255, 21, 21);
}
/* fine contenitore chat */


#right-container #send-message {
    display: flex;
    align-items: center;

    padding: 10px 0;

    /* background-color: #F3EEEA; */
}

#send-message input{
    flex-grow: 1;

    padding: 0 15px;

    height: 50px;

    border: none;
    border-radius: 5px;
}

#send-message i{
    padding: 0 35px;

    font-size: 25px;

    color: #6B7376;

    cursor: pointer;
}


#empty-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 400px);

    background-color: rgba(255, 255, 255, 0.5)
}

#empty-container .empty-text{
    padding: 10px;

    border-radius: 10px;

    font-size: 1.5em;

    background-color: rgb(4, 182, 4);

    color: white;
}
/* fine sezione "right-container" */

.darkMode{
    background-color: rgb(23, 15, 15);
    color: white;
}

.lightMode{
    background-color: white;
    color: black;
}




/* RESPONSIVE */
@media screen and (max-width: 780px) {

    .container{
        translate: 0;

        height: 100vh;

        overflow: hidden;
    }

    #header-back{
        display: none;
    }

    #left-container{
        /* display: none; */

        width: 100%;

        overflow-y: auto;
    }

    #left-container.none{
        display: none;
    }

    #right-container{
        display: none;

        width: 100%;

        overflow: y;
    }

    #right-container.active{
        display: flex;
    }

    #right-container .header-user .fa-chevron-left {
        display: inline-block;

        font-size: 1.2em;

        cursor: pointer;
    }

    #right-container .header-user .fa-chevron-left:hover{
        background-color: lightslategray;
    }

    #empty-container{
        display: none;
    }

}
